{{template "Header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #map {
  height: 400px;
  /* The height is 400 pixels */
  width: 60%;
  /* The width is the width of the web page */
}
iframe {
			width: 100%;
			height: 500px;
		}
    </style>
</head>
<body>
    
    <center><a href="/about">About</a> <a href="/logout">Logout</a> <a href="/addbridge">Add Bridge</a> <a href="/contact">Contact</a> <a href="/browse">Your Bridges</a> <a href="/browseMap">Map</a> 
        <div id="map"></div></center>
    <iframe src="" name="myFrame" style="border:none;" scrolling="yes"></iframe>
    
    
    <script>
    var coords ="{{range .}}{{.Lat}} {{.Lng}} {{.ID}} {{end}}";
    var myArr_coords = coords.split(" ");
    var markers =[];
    
        function initMap(){
            var options={
                zoom:17,
                center:{lat:47.152050, lng:27.588990}
            }
            var map=new google.maps.Map(document.getElementById('map'),options);
            
            for (var i=0; i<parseInt(myArr_coords.length); i+=3)
             {
                 markers.push({
                     coords:{lat:parseFloat(myArr_coords[i]),lng:parseFloat(myArr_coords[i+1])},
                    content: '<a href=/show/?idbridge='+parseFloat(myArr_coords[i+2])+' target = myFrame>Show</a>',
                },
                 );
             }
             markers.pop();
            for(var i=0;i<markers.length; i++)
            {
                addMarker(markers[i]);
            }
            // Create the initial InfoWindow.
  let infoWindow = new google.maps.InfoWindow({
    content: "Click the map to get Lat/Lng!",
    position: {lat:47.152050, lng:27.588990},
  });

  infoWindow.open(map);

  // Configure the click listener.
  map.addListener("click", (mapsMouseEvent) => {
    // Close the current InfoWindow.
    infoWindow.close();

    // Create a new InfoWindow.
    infoWindow = new google.maps.InfoWindow({
      position: mapsMouseEvent.latLng,
    });
    infoWindow.setContent(
      JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
    );
    infoWindow.open(map);
  });
            
    function addMarker(props)
    {
        var marker = new google.maps.Marker({
          position: props.coords,
          map: map,
          icon:{
              url:"https://cdn3.iconfinder.com/data/icons/vol-1-1/128/bridge-256.png",
              scaledSize: new google.maps.Size(50,50)
          }
        });
        if (props.content)
        {
            var infoWindow=new google.maps.InfoWindow({
            content :props.content
        })
        marker.addListener('click',function(){
            infoWindow.open(map,marker);
        });
        }
    }
        }

    </script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6Zg4VywxA3TryFFXOp789gTLYKbH2oPA&callback=initMap&libraries=&v=weekly"
      async
    ></script>
    
</body>
</html>
{{template "Footer"}}