{{template "Header"}}
<!DOCTYPE html>
<html> 
<body><center>

<h2>Numar de defecte</h2><br>
pentru C1: {{.Dif_Max_c1}}<br>
pentru C2 {{.Dif_Max_c2}}<br>
pentru C3 {{.Dif_Max_c3}}<br>
pentru C4 {{.Dif_Max_c4}}<br>
pentru C5 {{.Dif_Max_c5}}<br>

<h2>Valoare indice Ci</h2><br>
pentru C1: {{.Max_c1}}<br>
pentru C2 {{.Max_c2}}<br>
pentru C3 {{.Max_c3}}<br>
pentru C4 {{.Max_c4}}<br>
pentru C5 {{.Max_c5}}<br>

<br><br>
<a href="/about">About</a> <a href="/logout">Logout</a> <a href="/addbridge">Add Bridge</a> <a href="/contact">Contact</a> <a href="/browse">Your Bridges</a> 
</center>
</body>
</html>
{{template "Footer"}}